/* 
 * styles.css
 */

/* Styling */
html {
    /* Site colors */
    /* Troy colors sourced from eyedropper on random google image:
        https://www.redbubble.com/i/art-board-print/Troy-Logo-by-beck-dr/36641602/xpmg */
    --troy-yellow: #e4a023;
    --troy-blue: #104686;
    --troy-red: #ad141e;

    --background: hsl(from var(--troy-blue) h s 5);
    --text:       hsl(from var(--troy-yellow) h s l); /* contrast-color(var(--background)); */
    --primary:    hsl(from var(--troy-blue) h calc(s * 0.5) calc(l + 50));
    --secondary:  hsl(from var(--primary) h calc(s * 0.8) calc(l * 0.4));
    --accent:     var(--troy-red);

    /* Site fonts */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    /* Min viewport width this site works on */
    --min-viewport-width: 320px;
}

body {
    background-color: var(--background);
    color: var(--text);

    /* Overall page structure */
    display: grid;
    grid-template-columns: 1fr minmax(auto, 80ch) 1fr;
    grid-template-areas:
        "nav    nav     nav"
        "content content content"
        "footer footer  footer";
    gap: 0.5em;
    min-height: 100dvh; /* A tall screen still gets the footer at the bottom of the viewport. */
    grid-template-rows: auto 1fr auto; /* The main content takes up any extra space */

    /* A more interactive page doesn't really need sidebars. */
    &.app {
        grid-template-areas:
        "nav     nav     nav"
        "content content content"
        "footer  footer  footer";
    }
    /* A more informational page should have sidebars */
    &.info {
        grid-template-areas:
        "nav     nav     nav"
        "left    content right"
        "footer  footer  footer";

        /* TODO: This is jank. I really need to think about colors and text */
        color: var(--primary)
    }
}

main {
    grid-area: content;

    /* Don't let content touch the absolute edges of the viewport */
    --main-padding: 1em;
    padding: 0 var(--main-padding);
}

main > * {
    /* Spacing */
    margin-bottom: 0.5rem;
}

h1 {
    font-size: xxx-large;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--text);
    text-align: center;
}

summary {
    font-size: x-large;
}

p {
    /* 80 chars is good for readability 
        https://www.w3.org/WAI/WCAG22/Understanding/visual-presentation#:~:text=Width%20is%20no%20more%20than%2080%20characters%20or%20glyphs%20(40%20if%20CJK). */
    max-width: 80ch;
    /* Breaks super long words (or urls) even if there is no natural hyphen
        unlike word-break: break-all, this will prefer to wrap a word to a new line FIRST
        So my understanding is it only breaks if the line is truly longer than an entire line
        This can create some weird gaps before the long word, for example:
        
        +----------------------------------+
        | this is some                     |
        | reallylongworddthatwrappedandlea |
        | vesthepreviouslinewithareally    |
        | weird blank space following it   |
        +----------------------------------+

        Unfortunately, it seems text-wrap: pretty will not solve this for us.
        
        Very helpful for narrow screens (mobile)
    */
    word-break: break-word;
}

/* Any element that wants to look like it was plopped right on top of a <hr> 
    e.g. ---- el ---- */
.horizontal-rule-el {
    font-style: italic;
    color: var(--primary);
    
    /* because this relies on flexbox, this may work best on a wrapper element
        as to not disturb the display property of the wrapped element */
    display: flex;
    gap: 1em; /* This gap also helps hide weird alignment issues due to font */
    align-items: center;
    text-align: center;

    &::before,
    &::after {
        content: "";
        flex-grow: 1;
        border-bottom: solid var(--primary) 1px;
    }
}

a {
    color: var(--troy-yellow);

    /* Hover - TODO: Remove magic numbers */
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.05em;
    transition: text-underline-offset 0.1s ease-out;
    &:hover,
    &:focus{
        text-underline-offset: 0.3em;
    }
}

nav, footer {
    /* Centering */
    display: flex;
    gap: 2em;
    /* Need border to stay max width, yet items should still be centered. Centering is hard! */
    /* Span all grid columns */
    justify-content: center;

    /* Aesthetics */
    padding: 0.4em 0; /* TODO: Remove this magic number */

    /* Separate visually from content */
    --border:  2px solid var(--text); /* TODO: Don't like using "--text for not text */

    &:is(nav) {
        /* Positioning - Always on the top of the screen */
        position: sticky;
        top: 0;
        z-index: 1;
        backdrop-filter: brightness(35%) blur(15px);
        grid-area: nav;

        border-bottom: var(--border);
    }
    &:is(footer) {
        border-top: var(--border);
        grid-area: footer;
    }
}

button {
    cursor: pointer;

    width: 100%;
    min-height: 3em;
    background-color: var(--background);
    color: var(--text);

    border-style: none;
    outline: 1px solid currentColor;

    &.primary {
        background-color: var(--text);
        color: var(--background);
        font-size: 30px;
        font-weight: bold;
    }
}

input {
    background-color: var(--background);
    color: var(--text);
    border-style: solid;
    border: solid var(--text) 1px;
    &::placeholder {
        color: var(--text);
    }
    min-width: 0;
}

.actions {
    /* Everything looks better centered here */
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* A form that only has a single input (and maybe a submit button)
    e.g. An "enter your address" text field with a submit button for geocoding */
.single-input-form {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Location input, map, and resulting info */
.layout-wrapper {
    /* Leaflet uses lots of z-index to manage layers
    This just bundles all of that up at one new stacking context,
    and deliberately places it under the nav's z-index */
    isolation: isolate;
    z-index: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 2em;

    & > * {
        /* 
            Each of the 3 items has the same starting width.
            They cannot shrink past that width.
            They each grow together at the same rate.
            This ensures all columns are the same width for each line
                (an item on a new line is not the same width as the items on other lines.
                They will always take up as much space as possible)
            Columns of the same width keeps wrapping predictable:
                - The last item wraps first
                - Earlier rows always have more items than later rows
            
            The only way an item can become wider than another is if it is clamped to its min width.
            I could set min-width: 0 (or the val contained in the basis here) on all of these
            but I would like things to stay wide rather than break and overflow.
            Testing reveals no items that cannot shrink to this basis width, so it is not an issue.
            */
        flex: 1 0 calc(var(--min-viewport-width) - var(--main-padding));
    }
}

.district-info {
    .portrait {
        width: 10em;
        border: solid var(--troy-yellow) 2px;
    }

    dt {
        font-size: small;
        &::after {
            content: ":"
        }

        /* if the corresponding description is empty OR
            if the corresponding description has only one empty anchor  */
        &:has(+ dd:empty),
        &:has(+ dd>a:empty:only-child) {
            /* NOTE: Users may be confused why there is no data displayed when there should be
                Perhaps instead of hiding the <dd>, we should instead show a "NO DATA" message */
            display: none;
        }
    }
    dd {
        font-size: large;
        font-weight: bold;
        color: var(--primary);
        padding-bottom: 0.5em;
        
        /* if the description is empty OR
            if the description has only one empty anchor  */
        &:empty,
        &:has(a:empty:only-child) {
            padding-bottom: 0;
        }
    }

    /* 
        Putting this here instead of string concat to keep empty values from displaying.
        Maybe not the best strategy
    */
    .instagram a:not(:empty)::before {
        content: '@';
    }
}

/* Leaflet requires an id on the map element:
    https://leafletjs.com/examples/quick-start/#preparing-your-page
    "Put a div element with a certain id where you want your map to be"
    "Make sure the map container has a defined height"
*/
#map {
    min-height: 450px;
    height: 60vh;
    /* Aesthetics */
    border: solid var(--troy-yellow) 2px;
}
/* Return to Troy button */
#return {
    width: 100%;
}