/* 
 * styles.css
 */

/* Styling */
html {
    /* Site colors */
    /* Troy colors sourced from eyedropper on random google image:
        https://www.redbubble.com/i/art-board-print/Troy-Logo-by-beck-dr/36641602/xpmg */
    --troy-yellow: #e4a023;
    --troy-blue: #104686;
    --troy-red: #ad141e;

    --main: hsl(from var(--troy-blue) h s 5);
    --text: hsl(from var(--troy-blue) h calc(s * 0.5) calc(l + 50)); /* contrast-color(var(--main)); */
    --accent: hsl(from var(--troy-yellow) h s l);

    /* Site fonts */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: var(--main);
    color: var(--text);

    display: grid;
    justify-items: center;
    gap: 0.5em;
}

h1 {
    font-size: xxx-large;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--accent);
    text-align: center;
}

a {
    color: var(--troy-yellow);
}

nav {
    /* Center nav links */
    display: flex;
    gap: 2em;
    /* Need border to stay max width, yet items should still be centered. */
    justify-content: center;
    width: 100%;

    /* Positioning - Always on the top of the screen */
    position: sticky;
    top: 0;
    z-index: 1;

    /* Aesthetics */
    background-color: inherit;
    /* Separate nav visually from content */
    border-bottom: 2px solid var(--text); /* TODO: Don't like using "--text for not text */
}

/* Holds the map and the result from the location */
.info-container {
    /* Leaflet uses lots of z-index to manage layers
    This just bundles all of that up at one new stacking context,
    and deliberately places it under the nav's z-index */
    isolation: isolate;
    z-index: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    .portrait {
        width: 10em;
        border: solid var(--troy-yellow) 2px;
    }
}

/* Leaflet requires an id on the map element:
    https://leafletjs.com/examples/quick-start/#preparing-your-page
    "Put a div element with a certain id where you want your map to be"
    "Make sure the map container has a defined height"
*/
#map {
    min-height: 450px;
    height: 60vh;
    min-width: 320px;

    /* Aesthetics */
    border: solid var(--troy-yellow) 2px;
}
/* Return to Troy button */
#return {
    width: 100%;
}